[Desktop Entry]
Encoding=UTF-8
Name=Cheetahcoin
Comment=Cheetahcoin P2P Cryptocurrency
Comment[fr]=Cheetahcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cheetahcoin, eşten eşe kriptografik sanal para birimi
Comment[es]=Cheetahcoin, una criptomoneda P2P
Exec=/usr/bin/Cheetahcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Cheetahcoin;
Categories=Office;
