[Desktop Entry]
Encoding=UTF-8
Name=Boxcoin
Comment=Boxcoin P2P Cryptocurrency
Comment[fr]=Boxcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Boxcoin, eşten eşe kriptografik sanal para birimi
Comment[es]=Boxcoin, una criptomoneda P2P
Exec=/usr/bin/Boxcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Boxcoin;
Categories=Office;
